<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>All Me</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex soluta,
        exercitationem hic provident nesciunt eum unde qui placeat? Deleniti
        voluptates harum cupiditate rem quisquam impedit reiciendis iste
        delectus voluptate voluptas. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Ex soluta, exercitationem hic provident nesciunt eum
        unde qui placeat? Deleniti voluptates harum cupiditate rem quisquam
        impedit reiciendis iste delectus voluptate voluptas. Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Ex soluta, exercitationem hic
        provident nesciunt eum unde qui placeat? Deleniti voluptates harum
        cupiditate rem quisquam impedit reiciendis iste delectus voluptate
        voluptas.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure eius
        obcaecati totam fuga atque esse commodi magnam. Dolore, repellat
        eligendi illum quibusdam consequatur iste excepturi itaque assumenda
        dicta explicabo aliquid.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
